.nav {
    grid-area: n;
    background-color: navajowhite;
    padding: 20px;
}

.item {
    margin: 5px;
}

.item a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.item a.active {
    color: blue;
    font-weight: bold;
}

