.nav {
    grid-area: n;
    background-color: navajowhite;
    padding: 20px;
}

.item {
    margin: 5px;
}

.item a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.item a.active {
    color: darkslateblue;
    font-weight: bold;
}

.friends h2 {
    margin: 20px 5px;
    font-weight: normal;
}

.friends .item a {
    font-size: 14px;
}

