.header {
    grid-area: h;
    background-color: navajowhite;
}

.header img {
    margin-left: 20px;
    margin-top: 5px;
    width: 40px;
    border-radius: 50px;
}

.login {
    float: right;
    margin:  10px 20px;
}
.login a {
    color: navy;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
}