.usersContainer {
    margin: 10px;
}

.usersPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.paginator span {
    padding: 3px;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
}