.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem .dialog {
    padding: 5px;
}

.dialogsItem a {
    color: black;
    text-decoration: none;
}

.dialogsItem a.active{
    color: darkslateblue;
    font-weight: bold;
}

.messages .message {
    padding: 5px;
}