.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: blue;
    font-size: larger;
}

.dialogsItem .dialog {
    padding: 2px;
}

.dialog {
    padding: 2px;
}

.messages {
    padding: 10px;
}

.messages .message {
    padding: 2px;
}